.heading{
    background: #f8f8f8;
    margin-top: 120px;
}
.BD-Heading{
    margin-bottom:40px;
    border-radius:15px;
    background:black;
    padding: 50px;
    width: 90%;
    margin-left: 20px;
}

.BD-Heading h1{
    font-size: 50px;
    text-align: center;
    color: white;
}

.BD-Heading p{ 
    font-size: 20px;
    text-align: center;
    color: white;
}

.head{
    margin-left: 120px;   
}

.B-section{
    background: #f8f8f8;
    padding: 30px;
}

.B-container{
    
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    justify-content: center;
    margin-left: 150px;
    padding-top: 20px;
}

.B-card{
    margin: 20px;
    background: #f9f9f9; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;   
}
.B-card img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}
.B-card img:hover{
    transform: scale(1.15);
}

.B-card h4{
    margin: 10px 0;
}
.no-offer{
    text-decoration: line-through;
    color:gray;
    font-weight: 900;
}
.offer{
    color:black;
    font-weight: 900;
}
.B-card p{
    font-size: 15px;
}
.B-card:hover{
    transform: translateY(-8px);
}
.B-card button{
    margin-top: 10px;
    background-color: red;
    color: white;
    width:80px;
    height:30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;

}

.B-card button:hover{
    background: darkred;
}
.s-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    justify-content: center;
    margin-left: 150px;
    padding-top: 20px;
    gap:20px;
}

.s-card{
    padding: 25px;
    background: #fff; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    margin-bottom: 60px;
}
.s-card h3{
    margin-bottom: 10px;
}

.s-card span{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #000000;
    color:#fff;
    border-radius: 5px;
}

.s-card h3{
    margin-bottom: 10px;
}

.s-card:hover{
    transform: translateY(-8px);
}

.red {border-top: 5px solid red;}
.yellow {border-top: 5px solid yellow;}
.green {border-top: 5px solid green;}




/* MOBILE RESPONSIVE */

@media(max-width:768px){

.heading{
    padding-top:100px;
    margin-top:0;
}


.BD-Heading{
    width:90%;
    margin:auto;
    padding:30px 15px;
}


.BD-Heading h1{
    font-size:32px;
}


.BD-Heading p{
    font-size:16px;
}


.head{
    margin-left:0;
    text-align:center;
    font-size:24px;
}


.B-container,
.s-container{

    width:90%;
    margin:auto;
    grid-template-columns:1fr;
    gap:20px;

}


.B-card{
    margin:10px 0;
}


.B-card img{
    width:100%;
}


.B-card img:hover{
    transform:none;
}


.s-card{
    margin-bottom:20px;
}


}