*{
    margin: 0%;
    padding: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
    padding-bottom:10px ;
    padding-right: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}
.logo{
display: flex;
align-items: center;

}

.logo img{
    width: 200px;
    height: 70px;
    object-fit: contain;
}
 
nav a{
    text-decoration: none;
    color:white;
}
nav a:hover{
    color:red;
    text-decoration: underline;
}

nav a:active{
    color:red;
    font-weight: bold;
    border-bottom: 2px solid red;
}

ul{
    display: flex;
    list-style-type: none;
    gap:20px;
}

nav li:last-child a{
    background-color: red;
    padding: 6px 12px;
    border-radius:5px;
}
nav li:last-child a:hover{
    background-color: #cc0000;
    color:black;
}