
.icon-container{
    margin-top: 100px;
    display: flex;
    gap:40px;
    justify-content: center;
    
}

.icon{
    
    height: 100px;
    width: 100px;
    border-radius: 60px;    

}
.icon img{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 5px;
    transition: transform 0.3s ease;


}
.icon p{
    text-align:center;
}
.icon :hover{
    cursor: pointer;
    transform: scale(1.15);
}

.icon img:hover{
        border: 1px solid red;
}


.card-container{
    margin-top:70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    padding: 20px;
    
}

.card-section{
    background: #ffffff; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
}

.card-section p{
    font-size: 15px;
}

.card-section img{
    
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.card-section img:hover{
    transform: scale(1.15);
}
.card-section button{
    margin-top: 10px;
    background-color: red;
    color: white;
    width:80px;
    height:30px;
    border: 1px solid red;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;

}

.card-section button:hover{
    background: darkred;
    border: 1px solid darkred;
}

@media(max-width:768px){

    /* FOOD CATEGORY ICONS */
    .icon-container{
        display:flex;
        overflow-x:auto;
        gap:15px;
        padding:20px;
        margin-top:90px;
    }


    .icon{
        min-width:80px;
        text-align:center;
    }


    .icon img{
        width:70px;
        height:70px;
        border-radius:50%;
        object-fit:cover;
    }


    /* FOOD CARDS */

    .card-container{
        display:grid;
        grid-template-columns:1fr;
        gap:20px;
        padding:20px;
    }


    .card-section{
        width:100%;
    }


    .card-section img{
        width:100%;
        height:auto;
    }

}